<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th pm-sort-by="firstName" (sorted)="sort($event)">First Name</th>
                            <th pm-sort-by="lastName" (sorted)="sort($event)">Last Name</th>
                            <th pm-sort-by="gender" (sorted)="sort($event)">Gender</th>
                            <th pm-sort-by="email" (sorted)="sort($event)">Email</th>
                            <th pm-sort-by="mobile" (sorted)="sort($event)">Mobile</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patient of patients;trackBy:trackbyService.patient">
                            <td><img src="assets/images/{{ patient.gender | lowercase }}.png"
                                    class="grid-image" alt="Patient Image" /></td>
                            <td><a [routerLink]="['/patients',patient.id,'details']">{{ patient.firstName | capitalize }}</a></td>
                            <td>{{ patient.lastName | capitalize }}</td>
                            <td>{{ patient.gender | trim }}</td>
                            <td>{{ patient.email | trim }}</td>
                            <td>{{ patient.mobile | trim }}</td>
                            <td><a [routerLink]="['/patients',patient.id,'appointments']">View Appointments</a></td>
                        </tr>
                        <tr *ngIf="!patients.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
